[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://gitenterprise.xilinx.com/YUYANGR/AFLplusplus.git
	branch = AIE
[submodule "llvm-project"]
	path = llvm-project
	url = https://gitenterprise.xilinx.com/XRLabs/llvm-aie.git
	branch = aie-16.1
