build/
*/*release
*/*debug
llvm-aie/
llvm-fix/
llvm-project/
.vscode/
AFLplusplus/
O
fuzzing*
*-w*
tmp
seed
*.bc
*.ll
analysis
__pycache__
tmpfs
docker*
output
archive*
*/*.test-*
matcher_table_sizes.py
*.c
*.s 
*.o